.App {
  text-align: center;
}

.jp {
  --accent-colour: var(--green);
}
.en {
  --accent-colour: var(--blue);
}

form label,
legend {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--accent-colour);
}

form input {
  font-size: 1.2rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  border-color: var(--accent-colour);
  color: var(--white);
  padding-top: 8px;
}
form input:focus-visible {
  outline: none;
  box-shadow: 0 2px var(--accent-colour);
}

button {
  border: 2px solid var(--accent-colour, var(--white));
  background: none;
  color: var(--white);
  padding: 8px;
  cursor: pointer;
}
button:focus-visible {
  outline: 1px solid var(--white);
}
button:hover {
  border-color: var(--accent-colour, var(--pink));
  color: var(--accent-colour, var(--pink));
}
button.ghost {
  border: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(0 0 0% / 0.6);
}
